:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.app-container {
  min-height: 100vh;
  background-color: #f5f5f5;

  &.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1c5ba3, #040471);
  }
}

.main-container {
  display: flex;
  padding-top: 64px; // Height of the nav menu
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;// Width of the sidebar
  transition: margin-left 0.3s ease;

  &.hide-sidebar {
    margin-left: 0;
  }
}

.content-area {
  flex: 1;
  padding: 1rem;
  padding-top: 0;

  &.with-breadcrumb {
    padding-top: 3.5rem; // Height of breadcrumb + padding
  }
}

.content {
  flex: 1;
 
 // Width of the sidebar
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
}

// Responsive styles
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .content-area {
    padding: 0.5rem;
    
    &.with-breadcrumb {
      padding-top: 3rem;
    }
  }
}

router-outlet {
  display: block;
}

app-login {
  display: block;
  height: 100%;
  width: 100%;
}
