/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

// Keep login page background different
.login-container {
  background-color: #ffffff; // or whatever color the login page should be
}

.sidebar-collapsed .breadcrumb-nav {
  left: 72px !important;
}
